%tr{ class: "#{category.class.name.underscore.gsub('/', ' ')}", id: "#{category.class.name.underscore.gsub('/', '-')}-#{category.to_param}" }
  %td
    = link_to(category.tree_name, category, class: "left-padding-#{category.depth * 3}", title: category.description)
    = category.locale_label(self)
  %td.text-right
    = category.public_references_count_label(self)