<h1><%= @reference_category %></h1>

<div class="reference-categories-tree">
  <%= render :partial => 'subtree', :locals => { :children => @reference_category.children } %>
</div>


<%= render :partial => 'ecm/references/references/reference_preview', :collection => @reference_category.references.with_public_visibility, :as => :reference %>

<% if @reference_category.root? %>
  <%= link_to t('ecm.references.actions.back_to_category_index'), ecm_references_categories_path %>
<% else %>
  <%= link_to t('ecm.references.actions.back_to_category', :category => @reference_category.parent), @reference_category.parent %>
<% end %>
